[2015-01-22 19:13] lipefl commented on #627
I dont know the reason why it keeps repeating. I think it accidentally clicked on contruct again. Ctrl+Alt+Del doesnt work because when i go to task manager to kill the process, the mouse is still under control.
Great Tool, btw

[2015-01-22 21:11] tyrcho commented on #627
I see ... maybe we could minimize the Companion before clicking on the game. I'll have a look in February probably.

Thanks :)

[2015-01-23 23:38] tyrcho opened #628 "[Idea] manual control of recording videos"
So it can be used for spectator mode to record your friends' games or tournaments

[2015-01-24 22:06] trigun0x2 opened #629 "Addition of Target for Log Files"
Can we also have a target field for the logs?
I'm trying to create an online system through Javascript which will basically do a replay of the game through the logs.

[2015-01-25 00:13] tyrcho commented on #629
hi @trigun0x2 , I've already put all targetting information I found in the logs. It's tricky because the action and the target are in different lines. We can discuss more in details on Skype if you want.

[2015-01-25 04:31] trigun0x2 commented on #629
@tyrcho let's do a meeting this Thursday same time?

[2015-01-25 04:49] lennom opened #630 "API error Ranked Mode (since i hit legend) - Mac OS X"
Hi Tyrcho, first of all, love the program. Im running it this season on my Mac. Great insight with all the stats and details!

I hadn't had any problems with it, until i hit legend last week. After that an error-message appeared "Could not submit the match to Hearthstats.net, API error" and non of my games gets recorded/registered on hearthstats.com.

It keeps me from playing the game atm, because

[2015-01-25 12:34] tyrcho commented on #630
Hi,

Thanks for the detailed report ! I haven't reach legend myself and few of our users have so I'm not so surprised that it's a bit buggy.

I don't see what's wrong just based on the log you provided, I will need to spend some time investigating. Hopefully I can reach legend myself this season (I'm almost there ...) and reproduce the issue. Otherwise I'll analyse more in details thanks to your r

[2015-01-25 14:20] lennom commented on #630
thanks for the quick response! If you need some support (moral maybe ;) to get legend this season, feel free to add me, lennom#2537 (EU, Netherlands).

[2015-01-26 19:04] coeing commented on #590
Hi @tyrcho,

I had a short look into the code, but unfortunately Scala is not the language I normally work with. I understood what happens there, but can't say what could cause the cutoffs. One line ([link](https://github.com/HearthStats/HearthStats.net-Uploader/blob/master/video/src/main/scala/net/hearthstats/modules/video/SequenceEncoder.scala#L88)) could be interesting to change, so all excepti

[2015-01-26 23:52] tyrcho opened #631 "video resizing does not keep aspect ratio"
When you enter a different aspect ratio in the options tab than in game, the game aspect ratio should be preserved in the video.

[2015-01-27 07:41] tyrcho commented on #630
Thanks, I'll need it, been  playin a bit on tilt during the week-end + crashed Windows so had to reinstall :(

Seriously ... maybe you could share also the content of the output_log.txt file generated by Hearthstone and monitored by the companion ```/Users/feddodroog/Library/Logs/Unity/Player.log``` for you so i can reproduce the issue in February.

[2015-01-27 07:42] tyrcho commented on #630
And is this kind of detection correct (in the companion log.txt file) ?
[code]

[2015-01-27 07:57] Tibygod opened #632 "Hello can't add decks"
Hello, i can't add decks from site or export, if you can find time for me i will be glad, thank you

09:52:40.751 [    main] WARN      n.h.c.UserConfig - Unable to interpret value en, using default en instead
09:52:40.847 [    main] INFO  .VideoEncoderFactory - Instantiation interface net.hearthstats.modules.video.VideoEncoder from SPI
09:52:41.316 [    main] ERROR    n.h.hstatsapi.API - Error com

[2015-01-27 11:18] tyrcho commented on #632
I think you only need to enter the user key in the options tab. Get it from http://hearthstats.net/uploader

[2015-01-27 13:41] lennom commented on #630
It looks like Hearthstone did change some things today (ranks were invisible sometimes). There was a moment when the api error disappeared and the games did get recorded (they still are). So great news!

At first the games were named under 'Rank 1 - Innkeeper' and a couple hours later (at this moment)  under the name 'Ranked' (screenshot). I however cant see the exact ranks on the site (the logs a

[2015-01-27 13:49] trigun0x2 commented on #630
@lennom this may actually be a mistake on API end. I saw a lot of requests coming in with ```rank_id = 0```. Which is Legend, and the API did not handle it well. I can make the necessary changes to the recent matches screen soon.

[2015-01-27 16:19] Tibygod commented on #632
Thank you, is ok now, and sorry for this.

     On Tuesday, January 27, 2015 1:18 PM, Michel Daviot <notifications@github.com> wrote:

 I think you only need to enter the user key in the options tab. Get it from http://hearthstats.net/uploader—
Reply to this email directly or view it on GitHub.

[2015-01-27 18:00] tyrcho commented on #632
No problem

[2015-01-27 18:00] #632 closed

[2015-01-27 22:32] trigun0x2 opened #633 "Log One Off"
I often find that a player's action is moved to the beginning of the next player's turn instead of the end of this own, and this continues one.

I.E. : https://s3-us-west-2.amazonaws.com/hearthstats/prem-logs/124356/3902748

[2015-01-27 23:19] tyrcho commented on #633
Yep, I noticed ... it's because the game log is like that. It follows the screen actions, this happens when you do stuff which is still animated when you click the end turn. I don't have an easy way to fix that atm.

[2015-01-29 23:49] tyrcho commented on #630
@lennom : is it OK now with the fix done by @trigun0x2 on the website ?

I probably won't reach legend myself, stuck around ranks 1-2 ...

[2015-01-29 23:57] tyrcho commented on #633
Some mail from @gtch which could be a track to follow

I'm going to disgress for a moment to explain to +Michel Daviot how we can improve the end of turn detection — you may not all care about the details, just understand that we don't allocate cards to exact turns just yet, but we should be able to improve turn detection so that cards can be correctly allocated to turns...

I actually have been h

[2015-01-29 23:59] tyrcho opened #634 "detect cards from arena deck"

[2015-01-30 00:00] tyrcho commented on #521
integrate with #534

[2015-01-30 00:01] tyrcho commented on #634
have a look at what's done in the deck analyser [class](https://github.com/HearthStats/HearthStats.net-Uploader/blob/master/companion/src/main/scala/net/hearthstats/game/imageanalysis/DeckAnalyser.scala)

[2015-01-30 14:17] lennom commented on #630
@trigun0x2 @tyrcho I just played a game to test any difference, but it still only gives 'Ranked' instead of the exact legend rank (see screenshot).

![schermafbeelding 2015-01-30 om 15 14 56](https://cloud.githubusercontent.com/assets/10691531/5976890/f7ae5506-a892-11e4-937c-8a0788eb3e92.png)

[2015-01-30 15:49] trigun0x2 commented on #630
@lennom can you link me to that match? (the link to the view page)
I'll be able to fix it right now.

[2015-01-30 15:56] lennom commented on #630
Im getting an error when i go to the site atm

![schermafbeelding 2015-01-30 om 16 52 43](https://cloud.githubusercontent.com/assets/10691531/5978571/f8c446d6-a8a0-11e4-8990-a358d602405e.png)

[2015-01-30 16:05] trigun0x2 commented on #630
@lennom sorry about that, it's fixed now.

[2015-01-30 16:19] lennom commented on #630
yes works again. This is the link > http://www.hearthstats.net/matches/4288966?locale=en

[2015-01-31 07:26] jathanism commented on #591
I am receiving a similar error. Hearthstats is basically unusable for me on Windows 7 64-bit. It crashes as soon as the game starts.

Here's my log.txt from the latest event:

[code]

[2015-01-31 07:57] jathanism commented on #591
Nevermind. After reviewing the log myself, I realized I hat 32-bit Java installed (I only installed Java to use Hearthstats!). I upgraded it to 64-bit Java and so far, so good! Keep this debug log for posterity of future generations.

[2015-01-31 08:22] lennom commented on #630
Played a couple extra games. Maybe it helps to get it fixed this season.

http://www.hearthstats.net/matches/4290369?locale=en
http://www.hearthstats.net/matches/4290304?locale=en
http://www.hearthstats.net/matches/4290237?locale=en
http://www.hearthstats.net/matches/4290126?locale=en
http://www.hearthstats.net/matches/4290090?locale=en
http://www.hearthstats.net/matches/4290028?locale=en
http://w

[2015-02-01 14:06] kwacky1 opened #636 "Disable the submit button if data is missing?"
Sometimes I get carried away with the game notes that I forget to check the missing data when the game mode and deck are not detected.
This results in an API error due to the missing data.
Would it be possible to disable the submit button if data is missing to prevent accidentally submitting incomplete data?

[2015-02-01 15:04] tyrcho commented on #636
Yes it makes sense ! Maybe @Meowvw  you want to have a look ? It should be easy to implement.

[2015-02-03 10:12] LordShadowen commented on #205
Not sure if it's the same problem or not, but screen capture also doesn't work with my triple monitor setup (Windows 7). I get no error message on the log, but it was visible that it wasn't working (the app didn't recognize any event that wasn't coming purely from the game log).

I did some digging through the code and after some quick hacks to check out the output of the capture, it turns out the

[2015-02-03 17:55] tyrcho commented on #630
@trigun0x2 is this an error only on the website ? Or do you need my help with this issue ?

[2015-02-03 22:50] trigun0x2 commented on #630
@tyrcho can you remind me how the submission goes for legendary?

[2015-02-04 21:22] Meowvw commented on #636
Sorry, I didnt see the message here. I just checked, did you do that already?

[2015-02-04 22:36] tyrcho commented on #636
Nope, it's not implemented yet, feel free to give it a try :)

[2015-02-08 18:18] FilipSK commented on #591
I was having same issues with same error, and what @jathanism suggests actually works. 32bit java was indeed the problem, and after switching to 64bit everything runs perfectly fine.

[2015-02-10 18:59] jathanism commented on #591
Perhaps that would make for a good check on 64-bit systems to prevent a crash and display a popup to the user? Like:

[code]

[2015-02-12 15:02] Gunpowderchant opened #638 "Does the video replay system only work using this companion?"
Hi, i very much like the idea of keeping a recording of the games, but does this feature for the website only work using this companion? because im uploading my games using HearthstoneDeckTracker.

[2015-02-12 16:39] trigun0x2 commented on #638
@Gunpowderchant it is only available via the companion app atm.

[2015-02-15 18:22] justpassingby opened #639 "Game mode and deck detection not working"
Just reporting in to say that, on my Macbook Air, the game mode is never detected, nor is the deck that I am using. I've tried every screen resolution, windowed and non-windowed mode but no luck. Everything that relies on the log is ok, and my deck names are transferred fine from the main Heartstats website.

Thanks for the app though, it is still much easier than doing it all manually.

Edit: I j

[2015-02-15 23:10] jbailey opened #640 "Configuration option to point to localhost for doing HearthStats.net testing"
It would be great if there was a configuration file where you could point the application to the api address locally.  This would making working on HearthStats.net web application much easier as you'd have an easier way to get data in.

[2015-02-17 22:40] tyrcho commented on #630
sorry, forgot about this one ... for legend you'll have in the json :

"ranklvl" :26, "legend" : true

[2015-02-17 22:42] tyrcho commented on #624
Sorry, I got late with the issues sorting ... if you still have the issue, could you post the complete log file for HS companion here ?

[2015-02-24 16:13] lexblow opened #641 "Companion closing after match starts"
My companion is closing every single time after match starts on the mullingan phase.it detects my deck, me and my opponent, the overlay is shown until mullingan phase, when the companion closes, and so the overlay. PLease HELP!

[2015-02-24 16:22] trigun0x2 commented on #641
Hey @lexblow can you try disabling the video feature in the options page?

[2015-02-24 16:37] lexblow commented on #641
Yes i can, and yes i tried, and Yes! IT WORKED!!
And YES, THANK YOU!!!!!

[2015-02-24 16:48] trigun0x2 commented on #641
Awesome! :)

[2015-02-24 16:48] #641 closed

[2015-02-25 08:46] #639 closed

[2015-03-02 00:57] qmlowery commented on #554
I'm playing on an 13" Retina MacBook Pro as well, and am having the same issue. If I resize the game window the full size of my screen, it gets more cards correct, but I haven't been able to get it to export any decks properly without using a windows machine.

[2015-03-10 23:26] ueli opened #646 "API error with 500 return code."
Hi,
There seams to be a problem with the API.
Lately I often get get 'Could not submit the match to Hearthstats.net, API error'.

Logfile sniped:

6:14:38.335 [cher-148] ERROR    n.h.hstatsapi.API - Error communicating with HearthStats.net (POST matches/new)
java.io.IOException: Server returned HTTP response code: 500 for URL: http://hearthstats.net/api/v1/matches/new?userkey=XXXXXXXXXXXXXXXXXXXXX

[2015-03-10 23:41] trigun0x2 commented on #646
This should be fixed now. The problem was from our side.

[2015-03-11 05:44] ueli commented on #646
Thanks, it works again.
- ueli

[2015-03-11 05:44] #646 closed

[2015-03-30 20:53] slapner opened #650 "OS X: Deck overlay disappears after match and doesn't come back up"
In the latest version, after each match your deck overlay disappears and does not reappear when the match starts. The opponents deck list pops up each match but your own does not. The only way to get it to show is to toggle between decks between each match which is pretty annoying and easy to forget.

[2015-03-31 02:29] jazbek commented on #650
I am having this problem also.

[2015-03-31 02:55] trigun0x2 commented on #650
This is already fixed and a new release will be pushed tomorrow.

[2015-03-31 02:55] #650 closed

[2015-04-01 01:08] ideocl4st opened #652 "Displaying chance of opponent's card draw is unnecessary"
![screen shot 2015-04-01 at 10 03 42](https://cloud.githubusercontent.com/assets/2484055/6932597/76589e64-d856-11e4-9878-711e8f1a0182.PNG)

I can definitely see how chances of us drawing a certain card will be useful.
However, I don't think displaying opponent's chance of drawing cards is useful, especially when it would not just be dubious but also incorrect when bounce spells are involved (As yo

[2015-04-03 05:49] djnym opened #653 "Opponent overlay is broken on Mac OSX"
If you close it, it repeatedly pops up with each new card.  It never clears so you see all cards from all recent games, and there is no way to turn it off.  All of these seem less than ideal.  I should have the option to not have it displayed, and killing the window should disable it until I start a new match.

[2015-04-03 11:19] Bananemitmayo opened #654 "Can't Login"
Since the new update iam unable to use HearthStats Companion because i cant login.
It just nothing happens but if i type in a wrong Username or password it says Invalid Email or Password. Anyone know what to do? Thank you guys

[2015-04-03 11:39] brbrainerd commented on #654
Same issue.  I was using the Companion regularly a couple of months ago, and the only thing I can think of that's changed (besides the version) is that I'm using Java 8 exclusively now.

[2015-04-03 12:31] g0tMylk commented on #654
Yeah, I have tried everything. Old Companions don't work. Very frustrating.

[2015-04-03 12:35] Riplexus commented on #654
Can't login either, why was the login screen integrated at all btw?

[2015-04-03 13:45] cyberjedi commented on #654
Same issue.

[2015-04-03 14:38] trigun0x2 commented on #654
Hey we are fixing this right away.

[2015-04-03 14:39] brbrainerd commented on #654
Outstanding!  Thanks trigun0x2.

[2015-04-03 17:44] slapner commented on #653
The inability to disable or collapse it makes playing on my laptop screen almost impossible. It is fine when I am plugged in to a monitor but there just isn't any room for both my deck overlay (most important and also closable) and the opponents deck floating over the game board.

[2015-04-03 20:27] g0tMylk commented on #654
Awesome :) it's the only problem I have had with what is an essential part of my life now! <3 Hearthstats

[2015-04-03 20:28] trigun0x2 commented on #654
<3 @g0tMylk we've reverted back to an other version of the uploader for now because our devs are on vacation today.

[2015-04-03 20:34] g0tMylk commented on #654
I was going to say props for working on a bank holiday but wasn't sure where you guys are located :)
Best customer service. I shall be upgrading to premium

[2015-04-03 20:46] Elros747 opened #655 "Uploader not working with HearthStats correctly"
I was having trouble with version 22.2 so I reverted to 21.1 now it shows no decks under the deck tab, but the popup comes up when I select it in Hearthstone, accept for one of my decks which comes up with the following error: key not found: 323.  Also, the deck overlay comes up, i can see it in the open windows, but it never shows up, even when i select it .

16:19:03.415 [tQueue-0] INFO     n.h.

[2015-04-03 21:02] Elros747 commented on #655
I checked and it does upload stats for the decks it does detect, if that makes any difference

[2015-04-04 02:36] trigun0x2 commented on #654
Hey can you guys try it now?

[2015-04-04 02:37] trigun0x2 commented on #655
Hey this should have been fixed. Can you confirm?

[2015-04-04 03:08] Elros747 commented on #655
Yeah, it's working now, thanks.

On Apr 3, 2015, at 10:37 PM, Jeffrey Tong <notifications@github.com> wrote:

Hey this should have been fixed. Can you confirm?

\
Reply to this email directly or view it on GitHub.

[2015-04-04 04:24] cyberjedi commented on #654
I am back in business on OS X and 22.3.  Thanks for the quick turnaround.

[2015-04-04 08:49] Bananemitmayo commented on #654
Wow thank you so much for this quick reaction it runs smooth as ever. :)

[2015-04-04 08:57] Riplexus commented on #654
Works like a charm, thanks a lot!

[2015-04-04 13:51] g0tMylk commented on #654
You guys are awesome. Thank you!

[2015-04-04 20:34] jemiller226 opened #656 "Deck overlay disappears after match, does not come back"
The opponent and friendly deck overlay both close after a match. The friendly one does not come back unless I switch decks and back again to the one I was using. This is on Windows.

[2015-04-04 20:36] jemiller226 commented on #602
This is still a thing, by the way.

[2015-04-04 20:57] trigun0x2 commented on #656
@Meowvw I thought this was fixed in the previous version.

@jemiller226 what version are you using?

[2015-04-04 21:47] argash commented on #656
I'm also getting this on OS X 10.10.2

[2015-04-04 21:58] TURBOCAPSLOCK commented on #653
I'm also having the same issue w/ the new version on OSX.  I use a separate overlay for self/opponent decks, and just use hearthstats for automatic stat tracking.  Hearthstats is basically unusable for me until this huge window can be closed and stay closed :(  Even w/ the deck overlay unchecked in options I still can't figure out a way to hide them.

[2015-04-04 22:48] jemiller226 commented on #656
I'm using v0.22.3.

[2015-04-05 12:31] #654 closed

[2015-04-05 17:41] argash opened #657 "Overlay, chance to draw not updating with Gang Up/Iron Juggernaut?"
I rarely play with Iron Jug so I haven't noticed wether the overlays new chance to draw would update when it was played but I have noticed that it's not updating when Gang Up is played.

[2015-04-06 23:49] leadingmore commented on #656
windows 7/v0.22.3.  Both enemy and my overlay closes after a game.  The workaround is switching to a different deck, wait for the overlay to pop up, then switch back.

[2015-04-06 23:52] leadingmore opened #658 "BRM related issue"
[1] Does not download BRM card image with the following log:
[19:50:02]  Could not download Card(945,Emperor Thaurissan,1,6,5,1,None,None,true)

[2] Once the BRM card is drawn in game, all subsequent updates to my deck overlay stops working.

v0.22.3/ Windows 7

[2015-04-07 19:21] Meowvw commented on #658
It was the cards not on aws, the issue should be fixed right now.

[2015-04-07 20:16] Meowvw commented on #657
It's the same problem as issue#658.
It was the cards not on aws, the issue should be fixed right not.

[2015-04-07 22:31] leadingmore commented on #658
download card issue is fixed.

My deck overlay is still not updating after the Emperor is drawn.

[2015-04-13 06:10] Zoe7 commented on #656
I'm getting the same issue here.
Windows 8 and using v0.22.3

[2015-04-13 07:12] Zoe7 opened #659 "First game of Arena always detected as Ranked"
As the title says.
This wouldn't be so bad if there was a way to easily change it from "ranked" to "arena", but right now the only option to fix this for me is to write down the game's info, delete it and then create a new game in the "continue arena run". This however doesn't let me input the opponent's name, round numbers and time, so that info  is lost.

Running Windows 8 and v0.22.3

[2015-04-13 17:18] Meowvw commented on #659
For now you can change the information on popup window after match I guess.  I'm working on your problem right now, hope it can be solved soon.

[2015-04-14 06:29] Zoe7 commented on #659
Thanks for the answer :)
I tried setting the match  popup to "after every match", but it is completely ignoring that setting and only showing it when I am missing data (which was the setting by default).

[2015-04-14 15:02] Meowvw commented on #659
Sorry, I realized that problem, I fixed that function, it will be enabled at next release I hope. Your problem seems never happened before, can you please send me your log file?

[2015-04-20 15:21] jazbek opened #661 "Deck overlay does not update with latest version (v0.22.4)"
The other day I updated to  v0.22.4, which fixed the issue of the deck overlay closing after every match, thank you.

However, with this latest version, most of the time when I draw a card, it does not get reflected in the list of remaining cards/probabilities. It does seem to work randomly, but obviously the overlay is useless without all of the cards listed being accurate.

Please let me know if

[2015-04-20 15:26] jazbek opened #662 "Opponent overlay appears when disabled, and does not reset after each match"
I have unchecked the option to enable the opponent's overlay:

https://cloudup.com/cyR9OzyJlqB

However, it still shows up every match.

It also seems to combine all the cards from all my opponents into one list. Note both Fiery War Axe and Glaivezooka in this list: https://cloudup.com/cZjSdH7xGNy. I played a warrior last match and am now playing a hunter.

[2015-04-20 15:27] Meowvw commented on #661
Hi, thanks for your feedback, can I see what you got for the overlay when you draw cards?

[2015-04-20 15:47] jazbek commented on #661
@Meowvw
Here is my current game:

https://cloudup.com/cZ67eanh5DL

As you can see, I have a Twilight Whelp in my hand, but 2 are still listed as being in my deck. Same with Mind Blast and Holy Nova, and there are 2 Shadow Word: Deaths in the list, but I have one in my hand.

Also, the Shrinkmaster on the board is the only one in my deck, and that's still in the list.

Shadow Word: Pain by this poi

[2015-04-20 15:52] Meowvw commented on #661
That seems unusual, can you send me your log file? It's on the same file as your uploader

[2015-04-20 16:05] jazbek commented on #661
This one? ~/Library/Application Support/HearthStatsCompanion/log.txt

It won't let me paste, I get "Sorry! We couldn't save your comment — your comment is too long (maximum is 262144 characters). Please try again."

I have uploaded it here: https://cldup.com/b4501jvksu.txt

[2015-04-20 16:07] jazbek commented on #652
+1 it takes up too much space on the screen and doesn't help.

[2015-04-20 18:54] Meowvw commented on #662
Sorry about that, I just fixed that problem, it will be on the next release.

[2015-04-21 00:53] leadingmore commented on #661
From what I have observed, drawing a BRM card will break the deck overlay update.

[2015-04-22 15:51] Meowvw commented on #661
Yea, we come to the conclusion,too. It is fixed now, will be on the next release

[2015-04-25 16:44] niker1997 opened #663 "Match Recorder Lagging Out"
Hey! I love hearthstats! It is very helpful for organizing and creating decks! I also love that it records each match! My question would be: Is it possible that it can be fixed so that when a match is recorded and it is a little longer than normal that it won't be really laggy? The recorder sometimes stops in the middle of a game as well which can be disappointing if you had a real cool win! If th

[2015-04-26 04:32] jonasflint commented on #550
I can confirm this is still broken. date: 26 April 2015 on a mac.

[2015-04-27 12:44] gtch opened #664 "java.lang.ArrayIndexOutOfBoundsException on startup on OS X"
HearthStats Companion is occasionally failing to start up: it briefly shows the window then disappears with this exception:
[code]

I think the deck update is not being done on the EDT thread.

[2015-04-27 13:57] #664 closed

[2015-04-30 13:57] Crazometer opened #665 "Rank 3 detects as rank 1"
Rank 3 has been consistently detecting as rank 1 for me. If I drop back down I'll get the captured image for you.

[2015-05-01 21:57] Kiltedbear opened #666 "Hearthstats crashes my Hearthstone client"
I started having issues a few months ago when my system updated from Java 7 to 8. I am currently on Java 8 update 40. At first immediately the deck window would no longer be visible to me when playing. The window would be there in the taskbar, but when I hovered over it or clicked it a shadowed glass window would appear with no contents in the window displaying the cards in my deck. The companion

[2015-05-04 14:16] argash opened #667 "How can I help with the Mac client?"
I'm not a coder, but I'd be happy to help test on the Mac client if you need that sort of assistance. I'm sure Mac users are a smaller portion of your user base which probably slows down issue reporting for that side of the client. Just let me know how I can help.

[2015-05-04 14:37] trigun0x2 commented on #667
@gtch is in charge of our OSX development. He can tell you what he needs help with.

Thanks a lot!

[2015-05-04 14:50] argash opened #668 "Match #6860790 reported as rank 1 instead of 16"
I just played a rank 16 game that reported as rank 1 for some reason.

[code]

[2015-05-05 20:01] riQQ commented on #668
I can confirm this. Same issue (rank 16 recognized as rank 1) occured today for me.

[2015-05-08 17:25] TreyFamous opened #669 "game mode not detected."
I play HS in windowed mode and i had no issue till a day ago now when i play it cant recognize the game mode i am in and cant auto send stats to server. please help me. i want to buy premium but i cant/wont if the product doesn't work the way it is supposed to. thank you.

TreyFamous aka otaku

13:14:18]  You don't have premium subscription, videos won't be uploaded to hearthstats.net
[13:14:29] 

[2015-05-14 09:23] riQQ opened #670 ""Confirm your login" popup with two names that aren't mine"
I have saved the Hearthstone log too if you need it.

![HearthStats](https://cloud.githubusercontent.com/assets/3404787/7628898/82049c92-fa28-11e4-9699-108897922d8e.png)

[code]

[2015-05-15 18:37] riQQ opened #672 "Add a way to resubmit a match in case of connection error"
If the submission fails because of a connection error, e.g. http 503 error, there should be a way to resubmit a match.

[2015-05-15 18:42] trigun0x2 commented on #672
Hey @riQQ we have some new things coming that'll change everything :)

[2015-05-16 10:40] Joopiter commented on #661
When can we expect this release? Right now, with this issue, deck overlays are completely unusable.

[2015-05-20 01:57] cybergollum opened #673 "Program don't work at all"
Hello.

I had updated Java (6->8), then started Hearthstats.exe but visually nothing were happened. I tried again and waited watching at Task Manager. There appeared "javaw.exe" for 5-10 seconds and then disappeared. At folder where executable located appeared empty "log.txt" and folders "tmp" and "cache" both empty too.

I need to add that currently I use WinXP SP3 and so... is this my problem? I

[2015-05-20 14:17] trigun0x2 commented on #673
@cybergollum as of now, I don't think we'll be supporting WinXP. I suggest using: https://github.com/Epix37/Hearthstone-Deck-Tracker

As it also uploads to HearthStats!

[2015-05-20 14:17] #673 closed

[2015-05-21 11:27] cybergollum commented on #673
Sigh.

Yes, I tried it too and unfortunately it didn't run. But in other way - at least it raised exception kinda "....Hearthstone Deck Tracker.exe isn't Win32 application".
Whatever. I just hoped that I could convince developer(s) if it the only one thing needed to change - at Project Properties change target from win7, .net 4.5 to "winxp". Probably I called parameters wrong but I am sure you und

[2015-05-27 21:32] ModestAce opened #674 "Hearthstat not maximizing"
So whenever I minimize the program, and I try to bring it up again, it won't come up... anyone know what might be causing this?

[2015-05-27 21:34] trigun0x2 commented on #674
Hey we've heard of this issue before, not quite sure why this would be happening. We have some announcements coming soon though :)

[2015-05-31 00:15] Kiltedbear commented on #666
I guess nobody is monitoring these issue tickets?...

[2015-05-31 00:23] trigun0x2 commented on #666
Hey we are but we're doing a huge update soon.
On May 30, 2015 8:15 PM, "Kiltedbear" <notifications@github.com> wrote:

[2015-05-31 23:21] Kiltedbear commented on #666
Oh, ok. That's good to know. Thanks. Maybe my issue will be fixed in the update.

[2015-06-02 13:32] ilCanaglia opened #675 "HearthStats uploader starts minimized, can't log in"
When I start HearthStats uploader it starts minimized and I can't log in.

The icon appears in the windows bar and if I hoover above it with the mouse I can see a miniature of the log in window, but if I click the icon nothing happens. I never get the log in window up so that I can edit info or press log in. I have updated to both the latest version of Java and of the uploader but to no effect on

[2015-06-02 20:56] trigun0x2 commented on #675
Hey we have officially switched over to Hearthstone Deck Tracker. You can download here: https://github.com/Epix37/Hearthstone-Deck-Tracker/releases/download/v0.10.2/Hearthstone.Deck.Tracker-v0.10.2.zip

[2015-06-02 20:56] #675 closed

[2015-06-10 13:26] Paleek opened #676 "HDT crashes instantly after launching"
If I delete all data and run the program it will open but not function properly and eventually crash. After that I can't open the application at all. Heres the Crash report:
http://pastebin.com/3p5wzWfp

[2015-06-10 14:20] trigun0x2 commented on #676
Hey @Paleek please download the latest version. It should fix this issue: https://github.com/Epix37/Hearthstone-Deck-Tracker/releases/download/v0.10.6/Hearthstone.Deck.Tracker-v0.10.6.zip

[2015-06-10 14:20] #676 closed, assigned to nobody

[2015-06-10 17:59] Paleek commented on #676
I figured. But thanks for the help anyway. I advice you to update the link on hearthstats.

Date: Wed, 10 Jun 2015 07:20:46 -0700
From: notifications@github.com
To: HearthStats.net-Uploader@noreply.github.com
CC: gmikkel@live.dk
Subject: Re: [HearthStats.net-Uploader] HDT crashes instantly after launching (#676)

Hey @Paleek please download the latest version. It should fix this issue: https://git

[2015-06-15 19:51] liujimj opened #677 "Alternate hero portraits not detected"
When using alternate hero portraits:
1. The class isn't detected
2. The opponent card display actually displays your own played cards, rather than your opponent's

[2015-06-15 19:52] trigun0x2 commented on #677
@liujimj hey have you tried upgrading to our new uploader? http://www.hearthstats.net/uploader

[2015-06-17 05:41] liujimj commented on #677
I run OS X so it would be HSTracker. It seemed very buggy to me, for example deck import from Hearthstats broke, and the deck list would constantly desync from what was in the Deck Manager. So that's why I tried switching back to this

[2015-07-11 05:46] akatsukijuli opened #678 "Error 0xc00007b"
When i open Hearthstone Deck Tracker, This error appears.
![ja](https://cloud.githubusercontent.com/assets/13284791/8632562/0f8dd12a-2777-11e5-859c-6e44bc5588ec.png)

How can i fix it?

[2015-08-10 20:48] vitaly-t commented on #678
trying to post.

[2015-08-20 04:44] CasualPancake opened #679 "Virus from downloading?"
I use Webroot antivirus and I've tried downloading it 3 times now (2 from the github page, and one from http://hearthstats.net/uploader?locale=en). Anyone know what's going on? Is it possible that it's a false positive?

[2015-08-20 06:04] trigun0x2 commented on #679
@Epix37 I've been hearing about this recently

[2015-08-20 06:42] azeier commented on #679
Definitely a false positive.
virustotal: https://www.virustotal.com/de/file/1699565833b1f0d56d83dd146668618550fc7fa2c51ccc0a9f0582e294a0a604/analysis/

Not sure what might be triggering it for some av.

[2015-08-27 20:41] keeyon2 opened #680 "OS X: Player Overlay Not working. Shows no cards and deck always above 32"
It does not show my deck at all in the overlay.  Just shows my hand size and that my deck always has 32 or 31 cards

[2015-08-28 00:07] trigun0x2 commented on #680
Hey is this our uploader of the HSTracker? Also can you upload a screenshot?

[2015-08-28 20:06] keeyon2 commented on #680
Hi Trigun, I was an idiot and was not using HSTracker correctly.  User Error. Thanks for the quick response as well

[2015-08-28 20:06] #680 closed, assigned to nobody

[2015-09-01 18:01] sifanLV opened #682 "Hearthstats Desktop Companion App on Mac Makes Hearthstone Extremely Slow"
Hi,
I just tried Hearthstats companion app on my Mac. And it made Hearthstone so slow that I could not even play solo adventure. Could someone please let me know how I can uninstall Hearthstats completely on Mac? Thanks a lot!

[2015-09-01 18:29] trigun0x2 commented on #682
Hey I suggest switching to our newly supported tool: https://github.com/bmichotte/HSTracker/

[2015-09-01 18:34] sifanLV commented on #682
Thank you very much for your reply. Could you please tell me how I can get rid of the old one, the one I have on my computer? It didn't seems to restore everything by moving the HSTracker.app to Trash. I cannot play Hearthstone now as a result.

[2015-09-01 18:34] trigun0x2 commented on #682
Oh so you do have the HSTracker app. I've heard this complaint several times. @bmichotte, can you take a look?

[2015-09-01 18:38] argash commented on #682
Just move the app file to the trash.

Erik Ellison
erik.ellison@gmail.com
erikellison.com
erikellison.smugmug.com
512-663-7888

[2015-09-01 18:47] sifanLV commented on #682
Hi Erik,

Thank you for your reply. I have just move the HSTracker file to the trash following your advice. But Hearthstone is still very very slow when starting a game. Do you know if there are other files from HSTracker that I can remove from my computer? Thanks!

[2015-09-01 18:59] bmichotte commented on #682
@Mannen-Sven do you have an anti-virus ? If yes, could you give a try to HSTracker with your anti-virus shutted down ? It seems some anti-virus may cause lags when logs are enabled on Hearthstone.
If the problem persists, you can try the following https://github.com/bmichotte/HSTracker/issues/141

[2015-09-01 19:18] sifanLV commented on #682
Thank you so much for the help!!! I tried turning off anti-virus. But it was still the same. Then I tried removing the file mentioned in the link you posted. Now everything is fine again. Thanks, again!

[2015-09-04 04:00] MaldororHS opened #683 "OSX - Matches not submitting"
Running HSTracker (v. 0.12) on OS X (10.10.5) and from time to time the matches don't submit to HearthStats at the end. I can't figure out what or why it doesn't work when it does. It's probably something obvious that I'm just missing. Tonight, I've been playing matches as Warlock in Casual and not a single one (out of five or six) has been submitted.

Everything else works fine — great, really.

[2015-09-04 05:13] MaldororHS commented on #683
Ok. So switched to Rank mode, and at the end of the first match in that mode got a dialogue saying my deck wasn't saved to HearthStats (even though it was) and would I like to save it. I clicked yes every time, then edited and re-saved the deck in Deck Manager. Played another match in Rank mode and it was submitted. Switched back to Casual, played a match and it was also submitted.

So I guess thi

[2015-09-04 21:10] MaldororHS commented on #683
Problem not solved. Same thing happened when I was playing a Rogue deck. Mostly the same thing, at least. Started playing matches in Casual mode. Nothing was being submitted. Played four or so. Switched to Rank mode and the very first match was submitted. The only problem was it submitted a duplicate of the match.

Switched back to Casual after the one Rank match, and the matches are submitting fi

[2015-09-04 21:26] trigun0x2 commented on #683
Hey can you post it here? https://github.com/bmichotte/HSTracker

[2015-09-04 21:31] MaldororHS commented on #683
Sure.

[2015-09-08 13:17] iMaddin opened #684 "When searching for cards it should behave like search in Hearthstone"
For example, when you are building a deck and search for cards it should show cards for the current class as well as neutral cards.

[2015-09-10 18:23] #684 closed, assigned to nobody

[2015-09-13 23:49] sleepybear21 opened #685 "Can't login to Hearthstone Deck Tracker"
I recently downloaded the Hearthstone Deck Tracker program and got it on my desktop, but when I try to login to the program I get this message:

"Could not load file or assembly 'System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c61934e089' or one of its dependencies. The module was expected to contain an assembly manifest."

I tried uninstalling and reinstalling

[2015-09-22 21:06] patitorey commented on #678
There is a solution to this problem?

[2015-11-02 23:59] Kazrberry opened #686 "UI doesn't show up in latest Mac version"
Using the latest version of HSTracker for Mac. Downloaded and installed according to instructions, but when I launch it, it doesn't show anything. I click on the tracker in my dock and nothing happens. Using OSX El Capitan Version 10.11.1(latest versino). Here is my console output when launching the tracker:

11/2/15 3:57:49.692 PM HSTracker[2749]: CoreData: Failed to load optimized model at path

[2015-11-19 11:06] ghost opened #687 "OSx 10.10.5 - Not Tracking Games"
Played with an existing deck, and one that I created newly in the current version of the tracker.  Restarted OSx, restarted tracker, restarted Hearthstone.  Also tried to change startup order between HSTracker and HS.  Reinstalled HSTracker.  Nothing helps.  HSTracker is simply not recognizing the HS client and is not tracking anything.  Tried games in both Ranked and Unranked modes with no change

[2015-11-19 11:30] ghost commented on #687
[2015-11-19 05:52:15.559][opponent_tracker][log]: {:reset=>0}
[2015-11-19 05:52:15.603][engine][log]: "Reset data"
[2015-11-19 05:52:15.608][events][log]: {:message=>"Hearthstone is running?", :is_running=>false}
[2015-11-19 05:52:45.016][events][log]: {:message=>"Hearthstone is active?", :is_active=>true}
[2015-11-19 05:52:45.126][events][log]: {:message=>"Hearthstone is running?", :is_running=>t

[2015-11-28 20:19] trigun0x2 commented on #687
@BigApe Hey this belongs here: https://github.com/bmichotte/HSTracker

[2015-11-28 20:19] #687 closed, assigned to nobody

[2015-12-03 19:05] Jatama commented on #686
Same here. Installed yesterday and worked fine but not anymore today. Didn't update anything (OS X 10.11.1).

12-3-15 21:01:18,701 HSTracker[1689]: Failed to connect (colorGridView) outlet from (NSApplication) to (NSColorPickerGridView): missing setter or instance variable
12-3-15 21:01:18,701 HSTracker[1689]: Failed to connect (view) outlet from (NSApplication) to (NSColorPickerGridView): missing

[2015-12-16 20:35] theodor123 opened #688 "MAC version"
pls how to turn on overlay so i could see the deck tracker while in full screen moe of HS

[2016-01-11 04:25] riotm0de opened #689 "Change Location / Path of Game"
Hi Guys,

i am on a mac and i have installed HS on my 2nd Drive (not Applications) - so the App is not really working...
Hearthstone is not on my main (OS X - Drive) and i think this is causing the issue...
need to change the path to my 2nd drive, but dont know how to do so - you guys have an idea ?

Had the same issue with HSTracker -  but now its working there, because i could change the path in

[2016-03-24 11:18] #240 closed

[2016-04-29 00:10] Juice805 opened #690 "Mac: Cards not updating"
The cards in the deck on the side of the screen are not updating as I play a game. No information is changing, neither is the highlighting

[2016-05-01 18:09] chenchaso commented on #690
Same for me

[2016-05-01 18:30] trigun0x2 commented on #690
Hey are you guys on Mac or Windows? Also can I get a screenshot?

[2016-05-04 19:08] Terobero commented on #690
Same happens to me. I'm on mac and all the cards don't change on the side when I draw them.

[2016-05-04 19:18] trigun0x2 commented on #690
@bmichotte

[2016-05-04 19:26] bmichotte commented on #690
Hi guys, I'm aware of this issue, this should be resolved with the next release of HSTracker.
You can find some informations and workaround on https://github.com/bmichotte/HSTracker/issues/366

[2016-05-04 19:27] Terobero commented on #690
When will this update come?

[2016-05-04 19:28] bmichotte commented on #690
I have still some issues to resolve, if everything goes fine, maybe tomorrow or friday

[2016-05-09 14:06] Terobero commented on #690
This didn't work:
For those running issues, could you try
1. close HSTracker and Hearthstone
2. open Finder
3. press ⌘⇧G
4. type ~/Library/Preferences/Blizzard/Hearthstone/
5. click "GO"
6. delete log.config
7. start HSTracker
8. start Hearthstone
9. play !

HELP

[2016-05-09 14:08] bmichotte commented on #690
Hi @Terobero did you updated to latest version (released this morning) ?

Btw, as the issue is a HSTracker one, could we continue tracking the issue on https://github.com/bmichotte/HSTracker/issues/ ?

[2016-05-09 14:36] Terobero commented on #690
Where can i download the latest version?

[2016-05-09 14:42] bmichotte commented on #690
https://rink.hockeyapp.net/apps/2f0021b9bb1842829aa1cfbbd85d3bed

[2016-06-11 09:30] ghost opened #691 "Mac Problem"
I wonder if somebody noticed that if your opponent quit the match instead of being killed by your minion, then that winning will not be counted into your hearthstats account. (Please forgive my unskilled English:)

[2016-06-20 12:37] TheMiziko opened #692 "not updating deck correctly to hearthstats ?/ best deck feature not working ?"
Hi guys ! So basically, In place of best arena and constructed deck I always have N/A instead of name of the deck, it seems like this feature is not working, but sometimes it does. Is is because hearthstone dekc tracker is not updating matches correctly, or is it directly problem with hearthstats ?

[2016-06-23 15:39] leomessirox8 opened #693 "Match results are no longer syncing with Hearthstats?"
My wins and losses are no longer showing up in Hearthstats, and they are not updated on the tracker either.

[2017-09-03 20:31] #530 closed

[2017-09-03 20:31] #529 closed

[2017-12-03 22:37] #450 closed

[2018-12-11 08:29] #503 closed, assigned to nobody